#recipeImage{ 
	height: 200px;
}
#allrecipes .card .btn{
	margin-right: 10px;
}
#allrecipes .card{
	border: none;
}
#allrecipes .card-body{
	font-size: 15px;
}
#allrecipes .card-group{
	margin-top: 30px;
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#allrecipes .footer{
	margin-bottom: 5px;
}
a{
	color: black;
}