body{
          background: url("/App/images/viewPostBackground.jpg");
          min-height: 100%;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: cover
      }
 ul{
    list-style-type: none;
    columns: 2;
  }
  .ingredients ul li:before{
    content: "• ";
  }
  #title{
    font-size: 40px;
  }
  #imgRecipe{
    width: 100%; 
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card{
     border: none;
  }
  div{
    margin-top: 1%;
  }
  div .btn{
    margin-right: 10px;
  }
